<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>DroiFile</key><dict><key>@TableName</key><string>_File</string></dict><key>DroiGroup</key><dict><key>@TableName</key><string>_Group</string><key>Name</key><string>@DroiExposeNSString</string></dict><key>DroiGroupRelation</key><dict><key>@TableName</key><string>_Group_User_Relation</string><key>GroupObjectId</key><string>@DroiExposeNSString</string><key>MemberGroupObjectId</key><string>@DroiExposeNSString</string><key>MemberUserObjectId</key><string>@DroiExposeNSString</string></dict><key>DroiUser</key><dict><key>@TableName</key><string>_User</string><key>Email</key><string>@DroiExposeNSString</string><key>EmailVerified</key><string>@DroiExposeBOOL</string><key>Enabled</key><string>@DroiExposeBOOL</string><key>PhoneNum</key><string>@DroiExposeNSString</string><key>PhoneNumVerified</key><string>@DroiExposeBOOL</string><key>UserId</key><string>@DroiExposeNSString</string></dict></dict></plist>